name: chatly
description: Smart, Private & Anonymous Chat App
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  
  # Firebase Core
  firebase_core: ^2.24.2
  firebase_auth: ^4.12.2
  cloud_firestore: ^4.14.2
  firebase_messaging: ^14.7.4
  firebase_analytics: ^10.7.2
  firebase_crashlytics: ^3.2.4
  
  # UI & Design
  google_fonts: ^6.0.0
  lottie: ^2.7.0
  shimmer: ^3.0.0
  animated_text_kit: ^4.2.2
  flutter_svg: ^2.0.7
  
  # State Management
  provider: ^6.1.1
  riverpod: ^2.4.0
  
  # Utilities
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.1
  connectivity_plus: ^5.0.1
  intl: ^0.19.0
  uuid: ^3.0.7
  crypto: ^3.0.3
  permission_handler: ^11.0.1
  
  # Form Validation
  form_field_validator: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  mockito: ^5.4.0
  http_mock_adapter: ^0.5.0

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/images/
    - assets/animations/
    - assets/fonts/
    - assets/illustrations/
    - assets/wallpapers/
  
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/Roboto/Roboto-Light.ttf
          weight: 300
    
    - family: Montserrat
      fonts:
        - asset: assets/fonts/Montserrat/Montserrat-Regular.ttf
        - asset: assets/fonts/Montserrat/Montserrat-Bold.ttf
          weight: 700
        - asset: assets/fonts/Montserrat/Montserrat-SemiBold.ttf
          weight: 600
