name: chatly
description: Smart, Private & Anonymous Chat App
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.19.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  
  # Firebase Core - Updated versions
  firebase_core: ^3.3.0
  firebase_auth: ^5.1.4
  cloud_firestore: ^5.3.1
  firebase_messaging: ^16.0.4
  firebase_analytics: ^12.0.4
  firebase_crashlytics: ^5.0.5
  
  # UI & Design
  google_fonts: ^6.3.3
  lottie: ^3.3.2
  shimmer: ^3.0.0
  animated_text_kit: ^4.3.0
  flutter_svg: ^2.2.3
  
  # State Management
  provider: ^6.1.5
  riverpod: ^3.0.3
  state_notifier: ^1.0.0
  
  # Utilities
  shared_preferences: ^2.5.3
  url_launcher: ^6.3.2
  connectivity_plus: ^7.0.0
  intl: ^0.20.2
  uuid: ^4.5.2
  crypto: ^3.0.7
  permission_handler: ^12.0.1
  dio: ^5.9.0
  http_mock_adapter: ^0.6.1
  form_field_validator: ^1.1.0
  
  # Form Validation
  form_field_validator: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  mockito: ^5.6.1

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/images/
    - assets/animations/
    - assets/fonts/
    - assets/illustrations/
    - assets/wallpapers/
  
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/Roboto/Roboto-Light.ttf
          weight: 300
    
    - family: Montserrat
      fonts:
        - asset: assets/fonts/Montserrat/Montserrat-Regular.ttf
        - asset: assets/fonts/Montserrat/Montserrat-Bold.ttf
          weight: 700
        - asset: assets/fonts/Montserrat/Montserrat-SemiBold.ttf
          weight: 600
